
<div ID = "footer">
  <ul>
    <li><a href="https://www.facebook.com/maisam.somji"><img class="links" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_black-512.png" alt="facebook"></a></li>
    <li> <a href="https://twitter.com/Somji_"><img class="links" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_black-512.png" alt="twitter"></a></li>
    <li> <a href="https://www.linkedin.com/profile/view?id=111275783&trk=spm_pic"><img class="links" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-128.png" alt="linkedin"></a></li>
    <li> <a href="https://github.com/msomji"><img class="links" src="http://uxrepo.com/static/icon-sets/font-awesome/png32/512/000000/github-circled-512-000000.png" alt="github"></a></li>
  </ul>

</div>