<head>
  <title>Maisam Somji</title>
  <meta charset="UTF-8">


   <link rel="stylesheet" type="text/css" href="stylesheets/index.css">

  <link rel="stylesheet" type="text/css" href="/stylesheets/blog-stylesheets.css">

  <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">

   <link href='http://fonts.googleapis.com/css?family=Dosis:800' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="/stylesheets/sidebar.css">

  <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">

</head>

