<div ID="header-contents">

  <h1>MAISAM SOMJI</h1>
  <h3>"It is not all important to get it right the first time. It's vitally important to get it right the last time." - Andrew Hunt & David Thomas </h3>
  <br>
      <ul ID= "nav">
        <li class="buttons"><a href="/index.html">Home</a></li>

        <li class="buttons"><a href="/blog/blog-template.html">Blog</a></li>

        <li class="buttons"><a href="#">Projects</a></li>

        <li class="buttons"><a href="#">Resume</a></li>

        <li class="buttons"><a href="#">Contact</a></li>
      </ul>

  </div>
<hr>