html{
  background-color: #B0E0FF;
  color: black;
}
#picture {
  width: 100%;
  height: auto;
  }

main {
  float: left;
  width: 70%;
}
#contents {
  float:right;
  width: 30%%
}
main>h1 {
  margin-top: 0;
}