
#BlogTitle {
  text-align: center;
}
.centerit {
  text-align: center;
  left: 50%;
  width: 100%;
}
#blog-contents {
  width: 70%;
  max-width: 1000px;
  margin: 20px auto 0px;
}
#blog {
  padding: 5px;
  text-align: center;
  margin: 20px 0px;
  display: inline-block;
  width: 70%;
}
