html{
  background: url(http://www.zingerbug.com/Backgrounds/background_images/white_painted_textured_wall_tileable.jpg);
}
#header-contents {

  width: 70%;
  max-width: 800px;
  margin: 30px auto 0px;
  text-align: center;

}
#header-contents h1 {
  font-size: 4em;
  margin: 25px;
}
#name{
  font-size: 2em;
  text-align: center;
}
#nav {
  list-style-type: none;
  position: relative;
  padding: 0px;
  margin: 0px auto 0px;
  font-weight: bold;
}
#nav .buttons {
  display: inline-block;
  margin: auto 10px;
  width: 15%;
}
#nav li a {
  padding: 0px;
}

#nav li a:visited {
  color: black;
  text-decoration: none;
}
#nav li a:link {
  color: black;
  text-decoration: none;
}
#nav li a:hover{
  color: green;
  text-decoration: none;
}
hr {
  border-bottom: black solid 2px;
  width: 80%;
  max-width: 850px;
}