aside{
  float: left;
  width: 40%;
}
aside img {
  width: 65%;
  padding: 4px;
  margin: 50px 0px 25px 25%;
  background-color: white;
  border-radius: 30%;

}

section {
  float: right;
  padding: 5%;
  width: 35%;
  margin-right: 10%;
}