html{
  background-color: #B0E0FF;
}
aside{
  float: left;
  width: 40%;

}
aside img {
  height: 300px;
  width: 65%;
  padding: 4px;
  margin: 50px 0px 50px 25%;
  background-color: white;

}

section {
  float: right;
  padding: 50px;
  height: 310px;
  width: 50%;
}