#contentstitle{
  text-align: center;
  font-family: 'Dosis', sans-serif;
}
#contents ul li {
  padding: 8px;
}
#contents ul li a:visited {
  text-decoration: none;
}
#contents ul li a:link {
  text-decoration: none;
}
#contents ul li a:hover{
  color: white;
}
#contents {
  display: inline-block;
  text-align: center;
  float: right;
  width: 25%;
}
#contents ul {
  padding: 0;
  list-style: none;
  text-align: center;
}
