#contentstitle{
  text-align: center;
  font-family: 'Dosis', sans-serif;
}
#contents ul{
  list-style: none;
  text-align: center;
}
#contents ul li{
  padding: 10px;
}
#contents ul li a:visited {
  text-decoration: none;
}
#contents ul li a:link {
  text-decoration: none;
}
#contents ul li a:hover{
  color: white;
}